<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glasstune" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.GlassTuneApplication">
        <activity
            android:immersive="true"
            android:name=".activities.TuneGuitarActivity"
            android:icon="@drawable/ic_action_guitar"
            android:label="@string/title_activity_tuner">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/tune_trigger" />
        </activity>
        <!--
        <activity
            android:name=".activities.PlayPitchActivity"
            android:icon="@drawable/ic_action_music_1"
            android:label="@string/title_activity_pitchpipe" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/pitch_trigger" />
        </activity>
        -->
    </application>
    <uses-permission
        android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
